<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/PL/Styles/style.css">
    <title>Jobify</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/PL/Scripts/script.js"></script>
</head>

<body>
    <header>
        <a href="index.html" class="logo">Jobify<span>.</span></a>
        <div class="menuToggle"></div>
        <ul class="navigation">
            <li> <a href="#banner" visited>Home</a></li>
            <li> <a href="#about">About</a></li>
            <li> <a href="#news">Menu</a></li>
            <li> <a href="#team">Expert</a></li>
            <li> <a href="#testimonials">Testimonials</a></li>
            <li> <a href="#contact">Contact</a></li>
        </ul>
    </header>
    <section class="banner" id="banner" style="  background-image: url(/PL/Assets/jobBackground.jpg);">
        <div class="banner-content container center-align">
            <h2>Lead yourself to a better career
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem impedit quasi enim quae,
                voluptates aut? Iure quasi, deleniti aliquam illum odio nostrum libero, exercitationem ipsum mollitia
                error quam esse velit!</p>
            <a href="signup-form.html" class="btn">Get started</a>
        </div>
    </section>
    <!-- ------- About ---------- -->
    <section class="about" id="about">
        <div class="container D-flex">
            <div class="col titleBx">
                <h3><span class="big-letter">A</span>bout Us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis mollitia quae nostrum quas numquam
                    maxime vitae, nam autem, laborum sed voluptatum quaerat architecto quos sequi amet eum laudantium at
                    eius.
                    Voluptate invento necessitatibus odio minus, quam quaerat dolore cupiditate obcaecatiullam at
                    provident minus voluptatum in possimus ducimus fuga! Fuga voluptates, cupiditate officia optio alias
                    hic fugit nisi ipsam explicabo omnis deleniti dolore!
                    Inventore esse velit <br><br> repellat sunt sit accusamus eaque necessitatibus maxime! nobis in
                    eius, excepturi commodi modi ex, rem culpa qui nemo nihil explicabo et voluptates est fuga? </p>
            </div>
            <div class="col imgBx">
                <img src="/PL/Assets/jobImage.png" alt="">
            </div>
        </div>
    </section>
    <!-- ------- News ---------- -->
    <section class="news" id="news">
        <div class="container1">
            <div class="col titleBx" style="float: right;">
                <h3><span class="big-letter">N</span>ews</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis mollitia quae nostrum quas numquam
                    maxime vitae, nam autem, laborum sed voluptatum quaerat architecto quos sequi amet eum laudantium at
                    eius.
                    Voluptate invento necessitatibus odio minus, quam quaerat dolore cupiditate obcaecatiullam at
                    provident minus voluptatum in possimus ducimus fuga! Fuga voluptates, cupiditate officia optio alias
                    hic fugit nisi ipsam explicabo omnis deleniti dolore!
                    Inventore esse velit <br><br> repellat sunt sit accusamus eaque necessitatibus maxime! nobis in
                    eius, excepturi commodi modi ex, rem culpa qui nemo nihil explicabo et voluptates est fuga? </p>
            </div>
            <div class="col imgBx">
                <img src="/PL/Assets/jobImage.png" alt="">
            </div>
        </div>
    </section>
</body>

</html>