<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../Styles/LoginStyle.css">
    <title>Login Form</title>
</head>

<body>
    <header>
        <a href="index.html" class="logo">Jobify<span>.</span></a>
        <div class="menuToggle"></div>
    </header>

    <section class="banner">
        <div class="card bg-light">
            <article class="card-body mx-auto">
                <h1 class="card-title mt-3 text-center" style="margin-top: 0;">Login</h1>
                <div class="socialbtn">
                    <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-twitter"><i
                            class="fa fa-twitter"></i></a>
                    <a href="http://scripteden.com/download/eden-ui/" target="_blank" class="btn-social btn-facebook"><i
                            class="fa fa-facebook"></i></a>
                </div>
                <p class="divider-text">
                    <span class="bg-light">OR</span>
                </p>


                <form action="login.php" method="POST">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="email" class="form-control" placeholder="Email address" type="email">
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input name="pass" class="form-control" placeholder="password" type="password">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button name="SubmitButton" class="btn btn-block btn-primary" type="submit">Login</button>
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <a href="passwordReset.html" class="btn btn-block btn-light" style="background-color: transparent; color: #007bff; text-decoration: none;"> reset password</a>
                    </div> <!-- form-group// -->
                    <div>
                        <p class="text-center" style="margin-bottom: 0;">Don't an account? <a href="SignupForm.html"
                                style="text-decoration: none;">Register now</a> </p>
                    </div>
                </form>
            </article>
        </div> <!-- card.// -->
    </section>

</body>

</html>