<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../Styles/passwordresetStyle.css">
    <script src="../Scripts/PasswordReset.js"></script>
    <title>PasswordReset Form</title>
</head>

<body>
    <header>
        <a href="index.html" class="logo">Jobify<span>.</span></a>
        <div class="menuToggle"></div>
    </header>

    <section class="banner">
        <div class="card bg-light">
            <article class="card-body mx-auto">
                <h1 class="card-title mt-3 text-center" style="margin-top: 0;">Reset Password</h1>
                <form method="POST">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        <input name="email" class="form-control" placeholder="Email address" type="email">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button name="SubmitButton" class="btn btn-block btn-primary" id="Loginbtn" type="submit">Send
                            reset email</button>
                    </div> <!-- form-group// -->
                </form>
            </article>
        </div> <!-- card.// -->
    </section>

</body>

</html>