<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../Styles/profilePageStyle.css">
  <script src="../Scripts/profilePageScript.js"></script>
  <title>Profile Page</title>
</head>

<body>
  <!-- The sidebar -->
  <div class="sidebar">
    <img src="../Assets/expert2.jpg" alt="../Assets/default-PP.jpg" style="margin-left: 40px;">
    <a id="Homebtn">Home</a>
    <a id="JobSeekersbtn">Job Seekers</a>
    <a id="JobOffersbtn">Job Offers</a>
    <a href="../Php/DestroySessionLogic.php" id="Logoutbtn">Logout</a>
  </div>
  <div id="side">
    <img id="hidebtn" src="../Assets/icons8-arrow-64.png" alt=""
      style="position: absolute; width: 24px; margin-left: -40px;">
    <div id="HomePage">
      <p>khjbadfskjlbnaklvbiuzxcvbkzjbviufdkbdifuv</p>
      <p>khjbadfskjlbnaklvbiuzxcvbkzjbviufdkbdifuv</p>
      <p>khjbadfskjlbnaklvbiuzxcvbkzjbviufdkbdifuv</p>
      <p>khjbadfskjlbnaklvbiuzxcvbkzjbviufdkbdifuv</p>
      <p>khjbadfskjlbnaklvbiuzxcvbkzjbviufdkbdifuv</p>
      <p>khjbadfskjlbnaklvbiuzxcvbkzjbviufdkbdifuv</p>
      <p>khjbadfskjlbnaklvbiuzxcvbkzjbviufdkbdifuv</p>
      <p>khjbadfskjlbnaklvbiuzxcvbkzjbviufdkbdifuv</p>
    </div>
    <div id="JobSeekersPage">
      <span style="color: red;" class="throw_error text-center"></span>
      <span class="text-center" style="color: green;" id="success"></span>
      <img class="refreshbtn" id="JobSeekerRefreshbtn" src="../Assets/icons8-refresh.gif">
      <table class="table" id="JobSeekersTable">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    <div id="JobOffersPage">
      <span style="color: red;" class="throw_error text-center"></span>
      <span class="text-center" style="color: green;" id="success"></span>
      <img class="refreshbtn" id="JobRefreshbtn" src="../Assets/icons8-refresh.gif">
      <table class="table" id="JobOffersTable">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ID Company</th>
            <th scope="col">Description</th>
            <th scope="col">Creation Date</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
</body>

</html>