<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="../Scripts/registrationfunct.js"></script>
   <link rel="stylesheet" href="../Styles/registrationstyle.css">
   <title>Registration Form</title>
</head>

<body>

   <header>
      <a href="index.html" class="logo">Jobify<span>.</span></a>
      <div class="menuToggle"></div>
   </header>

   <section class="banner" id="banner" style="  background-image: url(../Assets/jobbackground2.jpg);">
      <div class="card bg-light">
         <article class="card-body mx-auto">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your free account</p>
            <p>
               <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>   Login via Twitter</a>
               <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
            </p>
            <p class="divider-text">
               <span class="bg-light">OR</span>
            </p>


            <form method="POST">
               <div class="form-group input-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                  </div>
                  <input name="fname" class="form-control" placeholder="First name" type="text">
               </div> <!-- form-group// -->
               <div class="form-group input-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                  </div>
                  <input name="lname" class="form-control" placeholder="Last name" type="text">
               </div> <!-- form-group// -->
               <div class="form-group input-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                  </div>
                  <input name="email" class="form-control" placeholder="Email address" type="email">
               </div> <!-- form-group// -->
               <div class="form-group input-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input name="pass" class="form-control" placeholder="Create password" type="password">
               </div> <!-- form-group// -->
               <div class="form-group input-group">
                  <div class="input-group-prepend">
                     <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Repeat password" type="password">
               </div> <!-- form-group// -->
               <div class="form-group">
                  <button name="SubmitButton" class="btn btn-primary btn-block" type="submit"
                     id="Submitbtn">Submit</button>
               </div> <!-- form-group// -->
               <div style="margin-right: 50;">
                  <p class="text-center" style="margin-left: 80;">Have an account? <a href="login.html">Log In</a> </p>
               </div>
               <span style="color: red;" class="throw_error text-center"></span>
               <span class="text-center" style="color: green;" id="success"></span>
            </form>
         </article>
      </div> <!-- card.// -->

      </div>
      <!--container end.//-->
   </section>
</body>

</html>