* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 12x;
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  display: none;
}

a:not([href]):not([tabindex]) {
  color: white;
  text-decoration: none;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #ff0157;
  position: absolute;
  height: 100%;
  overflow: auto;
  transition: 0.5s;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Sidebar image */
.sidebar img {
  border-radius: 50px;
  max-width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #d10046;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active),.sidebar a.active:hover {
  background-color: #d10046;
  color: white;
  cursor: pointer;
}

#side {
  transition: 0.5s;
  margin-left: 250px;
}

#side #hidebtn {
  transition: 0.5s;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

#JobSeekersPage {
  width: 0;
  height: 0;
  visibility: hidden;
}

#JobOffersPage {
  width: 0;
  height: 0;
  visibility: hidden;
}

.refreshbtn {
  background-color: transparent;
  width: 40px;
  position: absolute;
  top: 8px;
  right: 0;
}

.card {
  width: 400px;
  border-radius: 15px;
  background-color: #fff;
}

.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
}

.articles {
  font-size: 10px;
  color: #a1aab9;
}

.number1 {
  font-weight: 500;
}

.followers {
  font-size: 10px;
  color: #a1aab9;
}

.number2 {
  font-weight: 500;
}

.rating {
  font-size: 10px;
  color: #a1aab9;
}

.number3 {
  font-weight: 500;
}

/* The Modal (background) */
.modal, .modal1 {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: block !important;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  min-width: 400px;
}

.modal-content1{
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 45%;
}

#userInfo p + p {
  padding-bottom: 10px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 28px;
  margin-left: 98%;
  position: absolute;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 28px;
  margin-left: 43%;
  position: absolute;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.viewPanel,.viewPanel2 {
  display: flex;
  min-width: 800px;
}

#userImg {
  height: 100%;
  width: 50%;
}

#userInfo{
  margin: 6%; 
  width: 50%; 
  height: 100%; 
  float: right;
}

#Viewbtn, #Viewbtn2{
  color: #ff0157;
  border-color: #ff0157;
}
#Viewbtn:hover, #Viewbtn:active, #Viewbtn2:hover, #Viewbtn2:active{
  background-color: #ff0157;
  color: #fefefe;
}
#deletebtnInView, #deletebtn, #deletebtn2, #deletebtnInView1{
  background-color: #ff0157;
  border-color: #ff0157;
}
#Editbtn, #Editbtn1{
  border-color: #ff0157;
  color: #ff0157;
}
#Editbtn:hover, #Editbtn:active, #Editbtn1:hover, #Editbtn1:active{
  background-color: #ff0157;
  color: #fefefe;
}
#jobbottonbar{
  display: flex;
}
#jobbottonbar button{
  width: 100%;
}
.viewPanel2{
  min-width: 400px;
}

@media screen and (max-width: 1300px) {
  .col-4 {
    display: contents !important;
  }
}

@media screen and (max-width: 1000px) {
  .viewPanel{
    display: contents;
    width: 50%;
  }
  #userImg {
    height: 100%;
    width: 100%;
  }
  #jobbottonbar{
    display: block;
  }
  #jobbottonbar button{
    width: 50%;
  }
  #Editbtn1{
    margin-bottom: 10px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 900px) {
  .close {
    margin-left: 95%;
  }
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 0;
    height: 0;
    position: relative;
  }
  #hidebtn {
    width: 0;
    height: 0;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  #side {
    transition: 0.5s;
    margin-left: 0px;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
