* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 12x;
    background-repeat: no-repeat;
  }
  
  body::-webkit-scrollbar {
    display: none;
}

a:not([href]):not([tabindex]) {
	color: white;
    text-decoration: none;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #2b63ff;
  position: absolute;
  height: 100%;
  overflow: auto;
  transition: 0.5s;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}


/* Sidebar image */
.sidebar img{
	border-radius: 50px;
	max-width: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #5f8aff;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #5f8aff;
  color: white;
  cursor: pointer;
}

#side{
	transition: 0.5s;
	margin-left: 250px;
}

#side #hidebtn{
	transition: 0.5s;
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

#JobSeekersPage{
	width: 0;
	height: 0;
	visibility: hidden;
}

#JobOffersPage{
	width: 0;
	height: 0;
	visibility: hidden;
}

.refreshbtn{
	background-color: transparent;
	width: 40px;
	float: right;
}

.table tbody tr:hover{
  background-color: #f2f2f2;
  cursor: pointer;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 0;
    height: 0;
    position: relative;
  }
  #hidebtn{
    width: 0;
    height: 0;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  #side{
	transition: 0.5s;
	margin-left: 0px;
}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}