* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12x;
  background-repeat: no-repeat;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* ----- Header ------ */
header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 100px;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
}

header .logo {
  font-weight: 700;
  font-size: 2em;
  transition: border-bottom 0.1s;
}

header .logo:hover,
header .logo:active {
  border-bottom: 2px solid #ff0157;
}

header .logo span {
  color: #ff0157;
  width: 5px;
  height: 5px;
}

header .navigation {
  list-style-type: none;
  display: flex;
  font-weight: 300;
}

header .navigation li+li {
  margin-left: 20px;
}

header .navigation li a {
  transition: border-bottom 0.5s;
  color: black;
}

header .navigation li a:hover,
header .navigation li a:active {
  border-bottom: 2px solid #ff0157;
}

header.sticky {
  padding: 10px 100px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

header.sticky .logo {
  color: #111111;
}

header.sticky .navigation li a {
  color: #111;
}
/* ------ Media Queries------- */
@media (max-width: 1200px) {
  section {
      padding: 60px 0;
  }
  .container {
      padding: 0 2%;
  }
  .menu .content .box {
      width: 280px;
  }
  .expert .content .box {
      width: 210px;
  }
  .review-card{
      margin: 12px;
  padding: 33px;
  width: 290px;
  }
}
@media (max-width: 1000px) {
  header, header.sticky{
      padding: 14px 70px;
  }
  /* ---- Responsive nav---- */
  header .navigation {
      display: none;
  }
  .menuToggle{
      background: url(../Assets/menu.png);
      background-repeat: no-repeat;
      background-size: 30px;
      background-position: center;
      cursor: pointer;
      width: 40px;
      height: 40px;
  }
  .menuToggle.active{
      background: url(../Assets/close.png);
      background-position: center;
      background-size: 25px;
      background-repeat: no-repeat;
  }
  header .navigation.active {
      position: fixed;
      top: 68px;
      left: 0;
      width: 100%;
      height: calc(100% - 68px);
      background: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  header.sticky .menuToggle {
      filter: invert(1);
  }

  header .navigation.active li{
      margin: 0;
  }
  header .navigation.active li a {
      color: #111;
      font-size: 1.7em;
      margin-top: 10px;
  }
  /* ------------- */
  section {
      padding: 50px 0;
  }
  .container {
      padding:0 2%;
  }
  .menu .content .box {
      width: 222px;
  }
  .expert .content .box {
      width: 245px;
  }
}
@media (max-width: 916px){
  .banner-content h2 {
      font-size: 4em;
  }
}
@media (max-width: 790px){
  .about .titleBx h3 {
      text-align: center;
  }
  .col {
      width: 47%;
  }
  .about .imgBx {
      width: 70%;
      margin: 20px auto;
  }

  .news .imgBx {
    width: 70%;
    margin: 20px auto;
}

}
@media (max-width: 740px){
  header {
      padding:  20px 70px;
  }
  .container {
      padding: 0 2%;
  }
  section {
      padding: 35px 0;
  }
  .banner-content h2 {
      font-size: 3em;
  }
  .menu .content .box {
      width: 200px;
  }
  .expert .content .box {
      width: 210px;
  }
}
@media (max-width: 529px) {
  header {
      padding:  20px 50px;
  }
  .contact-form {
      width: 100%;
  }
}
@media (max-width: 520px){
  .about .titleBx {
      text-align: center;
  }
 .menu .content .box {
  width: 170px;
}
.menu .content .box .text h3 {
  font-size: 1em;
}
.expert .content .box .text h3 {
  font-size: 1em;
}
.expert .content .box {
  width: 250px;
}
}
@media (max-width: 454px) {
  header {
      padding:  10px 30px;
  }
  .menu .content .box {
      width: 270px;
  }
}

